.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  border-top: 2px solid $white--color;
}

.copyright {
  max-width: 100px;
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
  }

  span {
    color: $white--color;
    font-size: 16px;
  }

  @include for-sm {
    max-width: 170px;

    span {
      font-size: 20px;
    }
  }
}

.social-media {
  display: flex;
  align-items: center;

  .social-media-icon {
    margin-left: 20px;

    a {
      display: flex;
    }

    img {
      width: 100%;
    }
  }

  .social-media-text {
    display: flex;
    flex-direction: column;
    text-align: end;

    span {
      color: $white--color;
      font-size: 16px;
    }

    @include for-sm {
      span {
        font-size: 20px;
      }
    }
  }
}
