.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include for-md {
    justify-content: flex-start;
  }

  .item-block {
    position: relative;
    width: 328px;
    height: 328px;
    margin: 7px;
    border-radius: 7px;
    overflow: hidden;
    background-color: $grey-dark--color;

    @include for-lg {
      width: 305px;
      height: 305px;
    }

    @include for-xl {
      width: 328px;
      height: 328px;
    }

    .item-image {
      img {
        width: 100%;
      }
    }

    .item-btn {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
    }

    .btn {
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      text-decoration: none;
      color: $dark--color;
      font-weight: 700;
      margin: 10px auto;
      padding: 7px 20px;
      border-radius: 7px;
      border: none;
      background-color: $yellow--color;
    }
  }
}
